@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .container {
    transform: scale(0.76) translate(11%, -28%);
    min-width: 75%;
  }

  body {
    overflow-y: hidden;
  }

  .github-icon {
    font-size: 400px !important;
    top: 290px !important;
    left: 1100px !important;
  }
}

body {
  background-image: url(../images/ac-background-image-noleaf-github.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.container {
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  border-color: transparent;
  border-radius: 10px;
  position: relative;
  right: 240px;
  top: 15px;
}

#github-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: transparent;
}

.github-icon {
  color: transparent;
  font-size: 110px;
  position: absolute;
  top: 290px;
  left: 1395px;
}

.footer {
  font-size: 12px;
  font-family: "Arvo", serif;
  color: #00b6e9;
  position: absolute;
  right: 190px;
  top: 800px;
}

.github-link {
  text-decoration: none;
  color: #00b6e9;
}

.github-link:hover {
  cursor: grab;
  color: #fcf4ef;
}

.github-link:hover:active {
  cursor: grabbing;
}

.swal2-image {
  font-size: 5px;
}

.swal2-title {
  font-family: "Arvo", serif;
  font-size: 29px !important;
}

.swal2-html-container {
  font-family: "Arvo", serif;
  font-size: 16px !important;
}

.swal2-confirm {
  font-family: "Arvo", serif;
  font-size: 14px !important;
}