.second-row {
  padding-top: 30px;
  justify-content: space-between;
  margin-right: 0.5px;
  margin-left: 0.5px;
}

.current-conditions {
  border: transparent;
  border-radius: 30px;
  background-color: #b7b398;
  padding: 25px 20px 27px 20px;
  width: 300px;
  outline: none;
  font-family: "Arvo", serif;
  position: relative;
  color: #ffffff;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.humidity-span,
.wind-span {
  font-size: 14px;
}

.current-max-min-temps,
.current-humidity,
.current-wind,
.humidity-icon,
.wind-icon {
  font-size: 14px;
}

.h1 {
  font-size: 60px;
  margin: 0;
  padding-top: 10px;
}

.current-feels-like {
  padding-top: 5px;
  padding-bottom: 40px;
  margin: 0;
  font-size: 13px;
}

.date-city-weather-column {
  border: transparent;
  border-radius: 30px;
  background-color: #f28b73;
  padding: 25px 30px 25px 20px;
  width: 300px;
  outline: none;
  font-family: "Arvo", serif;
  position: relative;
  color: #ffffff;
  text-align: right;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.current-day {
  font-size: 16px;
}

.current-city {
  font-size: 40px;
  margin: auto;
}

.current-weather-icon canvas {
  position: relative;
  top: 15px;
}

.current-weather-text {
  font-size: 16px;
  position: relative;
  top: 20px;
  right: 3px;
}

.current-weather-text::first-letter {
  text-transform: uppercase;
}
