.third-row {
  padding-top: 30px;
}

.forecast-weekday {
  margin-bottom: 11px;
}

.forecast-day canvas {
  width: 45%;
  margin: auto;
}

.forecast-day-1,
.forecast-day-2,
.forecast-day-3,
.forecast-day-4,
.forecast-day-5 {
  border: transparent;
  border-radius: 30px;
  padding-top: 15px;
  width: 145px;
  outline: none;
  font-family: "Arvo", serif;
  color: #ffffff;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.forecast-day-1 {
  background-color: #f28b73;
}

.forecast-day-2 {
  background-color: #74c894;
}

.forecast-day-3 {
  background-color: #85cfe2;
}

.forecast-day-4 {
  background-color: #fbacc7;
}

.forecast-day-5 {
  background-color: #b7b398;
}
