.github-button {
  border: none;
  background-color: transparent;
  background-color: transparent;
  padding: 0;
  position: relative;
  left: 1350px;
  bottom: 345px;
}

.github-icon {
  color: transparent;
  font-size: 185px;
}
