.github-button {
  border: none;
  background-color: transparent;
  background-color: transparent;
  padding: 0;
  position: relative;
  left: 1315px;
  bottom: 360px;
}

.github-icon {
  color: blue;
  font-size: 200px;
}
