.h1 {
  font-size: 63px;
  position: relative;
  top: 10px;
}

.current-feels-like {
  padding-top: 5px;
  padding-bottom: 40px;
  margin: 0;
  font-size: 13px;
}

.current-max-min-temps {
  font-size: 14px;
}

.unit-current-temp-chosen {
  font-size: 17px;
  position: relative;
  top: -25px;
  font-weight: bold;
}

.unit-current-temp-bar {
  font-size: 16.5px;
  position: relative;
  top: -25px;
  left: 7px;
}

.unit-conversion-button {
  font-family: "Arvo", serif;
  font-size: 15px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 1px 1px 3px #8b8974;
  position: relative;
  left: 13px;
  top: -26px;
  width: 32px;
  line-height: 16px;
  padding: 1px 3px 0px 0px;
}

.unit-conversion-button:active {
  transform: translateY(0.5px);
}
