@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.search-input {
  border: transparent;
  border-radius: 30px;
  background-color: #6bb888;
  padding: 10px 20px 10px 20px;
  width: calc(100% - 50px);
  outline: none;
  font-family: "Arvo", serif;
  position: relative;
  color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  /*text-indent: 10px; sirve para desplazar el texto del input*/
}

input::placeholder {
  color: #ffffff;
  font-family: "Arvo", serif;
}

.delete-icon {
  color: #ffffff;
}

.delete-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  margin-left: -30px;
  position: relative;
  left: -65px;
}

.lbar {
  color: #ffffff;
  font-family: "Arvo", serif;
  position: relative;
  left: -55px;
  bottom: -2px;
  font-size: 22px;
  text-align: center;
}

.search-icon {
  color: #ffffff;
}

.search-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  position: relative;
  margin-left: -46px;
}

.secondary-buttons {
  list-style-type: none;
  text-align: center;
  border: transparent;
  border-radius: 30px;
  background-color: #6bb888;
  padding: 8px 20px 8px 20px;
  max-width: 85%;
  outline: none;
  font-family: "Arvo", serif;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 15px;
}

.secondary-button-1 {
  display: inline;
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  position: relative;
  left: -15px;
}

.secondary-button-2 {
  display: inline;
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  color: transparent;
  background-color: #6bb888;
  position: relative;
  left: 15px;
}

.location-button {
  border-color: transparent;
  background-color: transparent;
}

.location-icon {
  color: #ffffff;
}

.play-pause-button {
  border-color: transparent;
  background-color: transparent;
}

.play-icon,
.pause-icon {
  color: #ffffff;
}

audio {
  display: none;
}
