@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.search-input {
  border: transparent;
  border-radius: 30px;
  background-color: #6bb888;
  padding: 10px 20px 10px 20px;
  width: calc(100% - 50px);
  outline: none;
  font-family: "Arvo", serif;
  position: relative;
  color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  /*text-indent: 10px; sirve para desplazar el texto del input*/
}

input::placeholder {
  color: #ffffff;
  font-family: "Arvo", serif;
}

.delete-icon {
  color: #ffffff;
}

.delete-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  margin-left: -30px;
  position: relative;
  left: -65px;
}

.lbar {
  color: #ffffff;
  font-family: "Arvo", serif;
  position: relative;
  left: -55px;
  bottom: -2px;
  font-size: 22px;
  text-align: center;
}

.search-icon {
  color: #ffffff;
}

.search-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  position: relative;
  margin-left: -46px;
}

.secondary-buttons {
  list-style-type: none;
  padding: 0;
  text-align: center;
  border: transparent;
  border-radius: 30px;
  background-color: #6bb888;
  padding: 10px 20px 10px 20px;
  width: calc(100% - 20px);
  outline: none;
  font-family: "Arvo", serif;
  position: relative;
  left: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.secondary-button-1,
.secondary-button-2,
.secondary-button-3 {
  display: inline;
}

.location-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  position: relative;
  left: -15px;
}

.location-icon {
  color: #ffffff;
}

.fahrenheit-celsius-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
}

.fahrenheit-symbol {
  color: #ffffff;
  font-weight: bold;
}

.play-pause-button {
  font-family: "Arvo", serif;
  border: none;
  border-radius: 30px;
  background-color: #6bb888;
  position: relative;
  left: 15px;
}

.play-icon,
.pause-icon {
  color: #ffffff;
}

audio {
  display: none;
}
